name: PR workflow

on:
  pull_request: 

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'
        cache: true

    - name: Static analysis (vet)
      run: go vet ./...

    # - name: Static analysis (staticcheck)
    #   run: staticcheck ./...

    - name: Run tests
      run: go test -v ./...
